{% extends 'default.html' %}


{% block title %}
    {{ ad.adTitle }}
{% endblock title %}

{% block navbar %}
    {{ block.super }}
{% endblock navbar %}


{% block content %}
{{ anonymous }}
<h3>{{ ad.adTitle }}:</h3>
<p>Опубликовано {{ ad.createDate|date:'d M Y H:m' }}</p>
<p>{{ ad.adText }}</p>
{% if have_file %}
    <p><img src="{{ ad.adFile.url }}"></p>
{% endif %}
<p>
    {% if not is_author %}
        <a class="btn btn-success" type="submit" href="{% url 'notice_board:replySend' ad.id %}">Откликнуться</a>
    {% endif %}
</p>


{% endblock content %}
