
{% block navbar %}
    {% if anonymous %}
       <li class="nav-item"><a class="nav-link" href="{% url 'account_login'  %}">Вход</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'account_signup'  %}">Регистрация</a></li>
   {% else %}
       <li class="nav-item"><a class="nav-link" href="{% url 'notice_board:createAd' %}">Добавить объявление</a></li>
       <li class="nav-item"><a class="nav-link" href="{% url 'account_logout'  %}">Выход</a></li>
   {% endif %}
{% endblock navbar %}

