{% extends 'default.html' %}


{% block title %}Notices{% endblock title %}

{% block navbar %}
    {% if anonymous %}
       <li class="nav-item"><a class="nav-link" href="{% url 'account_login'  %}">Вход</a></li>
       <li class="nav-item"><a class="nav-link" href="{% url 'account_signup'  %}">Регистрация</a></li>
   {% else %}
       <li class="nav-item"><a class="nav-link" href="{% url 'notice_board:createAd' %}">Добавить объявление</a></li>
       <li class="nav-item"><a class="nav-link" href="{% url 'notice_board:allReplyes' %}">Oтклики</a></li>
       <li class="nav-item"><a class="nav-link" href="{% url 'account_logout'  %}">Выход</a></li>
   {% endif %}
{% endblock navbar %}


{% block content %}
    {% if ads %}
        <h1>Все объявления:</h1>
        <h3>Общее количество объявлений: {{ads|length}}</h3>
        <table class="table">
           <tr>
               <th scope="col">
                   Загаловок
               </th>
               <th scope="col">
                   Автор
               </th>
               <th scope="col">
                   Дата публикации
               </th>
               <th scope="col">
                   Текст
               </th>
               <th scope="col">
                   Действия
               </th>
           </tr>
        {% for ad in ads %}
           <tr>
               <td>
                   <a href="{% url 'notice_board:detailAd' ad.id %}">{{ ad.adTitle }}</a>
               </td>
               <td>
                   {{ ad.adAuthor.authorUser.username }}</a>
               </td>
               <td>
                   {{ ad.createDate|date:'d M Y' }}
               </td>
               <td>
                   {{ ad.adText|truncatewords:20 }}
               </td>
               <td>
                   {% if ad.pk in pk_list %}
                       <p><a href="{% url 'notice_board:adUpdate' ad.id %}">Редактировать</a></p>
                       <p><a href="{% url 'notice_board:adDelete' ad.id %}">Удалить</a></p>
                   {% elif ad.pk in replyes_list %}
                      <p>Вы уже откликнулись</p>
                   {% else %}
                      <a href="{% url 'notice_board:replySend' ad.id %}">Откликнуться</a>
                   {% endif %}
               </td>
           </tr>
        {% endfor %}
        </table>
        <!-- Заменили код пагинатора на подключение шаблона с этим кодом -->
        <div>{% include 'parts/paginator.html' %}</div>
    {% else %}
        <h1>Пока объявлений нет</h1>
    {% endif %}

{% endblock content %}
